In [13]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

Load data

In [28]:
df=pd.read_csv('../data/togo-dapaong_qc.csv')

Summary Statistics and Missing Report

In [4]:
df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

In [5]:
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [6]:
df.tail()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525595,2022-10-24 23:56,-0.8,0.0,0.0,0.0,0.0,25.2,53.8,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.3,24.0,NaN
525596,2022-10-24 23:57,-0.9,0.0,0.0,0.0,0.0,25.3,53.5,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.3,24.0,NaN
525597,2022-10-24 23:58,-1.0,0.0,0.0,0.0,0.0,25.3,53.4,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.2,23.9,NaN
525598,2022-10-24 23:59,-1.1,0.0,0.0,0.0,0.0,25.4,53.5,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.1,23.8,NaN
525599,2022-10-25 00:00,-1.2,0.0,0.0,0.0,0.0,25.4,52.3,0.0,0.0,0.0,0.0,0.0,977,0,0.0,24.1,23.8,NaN

Description of columns

In [7]:
print('\n-----------\nThe description of categorical columns')
print(df.describe(include=[object]))
print('\n-----------\nThe description of all columns')
print(df.describe(include='all'))

-----------
The description of categorical columns
               Timestamp
count             525600
unique            525600
top     2021-10-25 00:01
freq                   1

-----------
The description of all columns
               Timestamp            GHI            DNI            DHI  \
count             525600  525600.000000  525600.000000  525600.000000
unique            525600            NaN            NaN            NaN
top     2021-10-25 00:01            NaN            NaN            NaN
freq                   1            NaN            NaN            NaN
mean                 NaN     230.555040     151.258469     116.444352
std                  NaN     322.532347     250.956962     156.520714
min                  NaN     -12.700000       0.000000       0.000000
25%                  NaN      -2.200000       0.000000       0.000000
50%                  NaN       2.100000       0.000000       2.500000
75%                  NaN     442.400000     246.400000     215.700000
max                  NaN    1424.000000    1004.500000     805.700000

                 ModA           ModB           Tamb             RH  \
count   525600.000000  525600.000000  525600.000000  525600.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean       226.144375     219.568588      27.751788      55.013160
std        317.346938     307.932510       4.758023      28.778732
min          0.000000       0.000000      14.900000       3.300000
25%          0.000000       0.000000      24.200000      26.500000
50%          4.400000       4.300000      27.200000      59.300000
75%        422.525000     411.000000      31.100000      80.800000
max       1380.000000    1367.000000      41.400000      99.800000

                   WS         WSgust        WSstdev             WD  \
count   525600.000000  525600.000000  525600.000000  525600.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean         2.368093       3.229490       0.557740     161.741845
std          1.462668       1.882565       0.268923      91.877217
min          0.000000       0.000000       0.000000       0.000000
25%          1.400000       1.900000       0.400000      74.800000
50%          2.200000       2.900000       0.500000     199.100000
75%          3.200000       4.400000       0.700000     233.500000
max         16.100000      23.100000       4.700000     360.000000

              WDstdev             BP       Cleaning  Precipitation  \
count   525600.000000  525600.000000  525600.000000  525600.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean        10.559568     975.915242       0.000535       0.001382
std          5.915490       2.153977       0.023116       0.026350
min          0.000000     968.000000       0.000000       0.000000
25%          6.900000     975.000000       0.000000       0.000000
50%         10.800000     976.000000       0.000000       0.000000
75%         14.100000     977.000000       0.000000       0.000000
max         86.900000     983.000000       1.000000       2.300000

                TModA          TModB  Comments
count   525600.000000  525600.000000       0.0
unique            NaN            NaN       NaN
top               NaN            NaN       NaN
freq              NaN            NaN       NaN
mean        32.444403      33.543330       NaN
std         10.998334      12.769277       NaN
min         13.100000      13.100000       NaN
25%         23.900000      23.600000       NaN
50%         28.400000      28.400000       NaN
75%         40.600000      43.000000       NaN
max         70.400000      94.600000       NaN

Overview of dataset

In [8]:
print('\n-----------\nAn Overview of dataset')
print(df.info())

-----------
An Overview of dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB
None

Identifying columns with more than 5% missing values

In [9]:
missing_values = df.isna().sum()
threshold = len(df) * 0.05
columns_with_missing = missing_values[missing_values > threshold]
print('Missing values count\n',missing_values)
print('\n-----------\nColumns with more than 5% missing values')
print(columns_with_missing)

Missing values count
 Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

-----------
Columns with more than 5% missing values
Comments    525600
dtype: int64

Outlier Detection & Basic Cleaning

In [34]:
# Compute Z-scores for key columns in a DataFrame (so we retain the same index)
numeric_cols = ['GHI','DNI','DHI','ModA','ModB','WS','WSgust']
z_df = pd.DataFrame(
    zscore(df[numeric_cols], nan_policy='omit'),
    index=df.index,
    columns=numeric_cols
)

# 2. Build an “outlier mask” per column and a combined row mask
outlier_mask_per_col = (z_df.abs() > 3)
any_outlier_row = outlier_mask_per_col.any(axis=1)
df[any_outlier_row]
print(f"Number of outlier samples flagged {any_outlier_row.sum()}")
print(df[any_outlier_row].head())

Number of outlier samples flagged 9251
             Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH   WS  \
4985  2021-10-28 11:06  1139.0  805.1  466.1  1172.0  1154.0  29.8  70.8  2.2
5410  2021-10-28 18:11    -1.2    0.0    0.0     0.0     0.0  29.7  63.5  6.6
5411  2021-10-28 18:12    -1.0    0.0    0.0     0.0     0.0  29.3  62.4  6.9
5413  2021-10-28 18:14    -0.8    0.0    0.0     0.0     0.0  28.6  63.7  7.1
5420  2021-10-28 18:21    -1.3    0.0    0.0     0.0     0.0  27.7  64.5  6.1

      WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
4985     2.6      0.4  298.6     13.4  977         0            0.0   44.7
5410     9.7      1.6  122.1     14.3  976         0            0.0   30.0
5411     8.9      1.2  128.7     10.8  976         0            0.0   29.9
5413     8.9      1.1  127.9     14.4  976         0            0.0   29.5
5420     8.9      1.3  123.2     14.4  977         0            0.0   28.4

      TModB  Comments
4985   50.2       NaN
5410   29.5       NaN
5411   29.5       NaN
5413   29.2       NaN
5420   28.2       NaN

Removing outlier rows

In [35]:
# Compute the medians on the *inlier* data only
medians = {}
for col in numeric_cols:
    medians[col] = df.loc[~any_outlier_row, col].median()

# Impute each outlier cell with its column’s inlier median
for col in numeric_cols:
    df.loc[any_outlier_row, col] = medians[col]

# Verify that no |Z|>3 remain
z_df2 = pd.DataFrame(
    zscore(df[numeric_cols], nan_policy='omit'),
    index=df.index,
    columns=numeric_cols
)
remaining = (z_df2.abs() > 3).any(axis=1).sum()
print(f"Remaining rows with |Z|>3: {remaining}")

Remaining rows with |Z|>3: 4695

In [27]:
numeric_cols = ['GHI','DNI','DHI','ModA','ModB','WS','WSgust']
z_scores = np.abs(stats.zscore(df[numeric_cols]))
outlier_flags = (z.abs() > 3).any(axis=1)
print(f"Number of outlier samples flagged {outlier_flags.sum()}")
print(df[outlier_flags].head())

Number of outlier samples flagged 9251
             Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
4985  2021-10-28 11:06  2.1  0.0  2.5   4.4   4.3  29.8  70.8  2.2     2.9
5410  2021-10-28 18:11  2.1  0.0  2.5   4.4   4.3  29.7  63.5  2.2     2.9
5411  2021-10-28 18:12  2.1  0.0  2.5   4.4   4.3  29.3  62.4  2.2     2.9
5413  2021-10-28 18:14  2.1  0.0  2.5   4.4   4.3  28.6  63.7  2.2     2.9
5420  2021-10-28 18:21  2.1  0.0  2.5   4.4   4.3  27.7  64.5  2.2     2.9

      WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
4985      0.4  298.6     13.4  977         0            0.0   44.7   50.2
5410      1.6  122.1     14.3  976         0            0.0   30.0   29.5
5411      1.2  128.7     10.8  976         0            0.0   29.9   29.5
5413      1.1  127.9     14.4  976         0            0.0   29.5   29.2
5420      1.3  123.2     14.4  977         0            0.0   28.4   28.2

      Comments
4985       NaN
5410       NaN
5411       NaN
5413       NaN
5420       NaN